#                                                               ██████   ██████   ██████ ██   ██ ███████ ██████
#   ███████  ██████  ████    ██████       ██████  ████   ██     ██   ██ ██    ██ ██      ██  ██  ██      ██   ██
#      ███  ██    ██ ██  ██ ██           ██    ██ ██ ██  ██     ██   ██ ██    ██ ██      █████   █████   ██████
#    ███    ██    ██ ██     ██   ███     ██    ██ ██  ██ ██     ██   ██ ██    ██ ██      ██  ██  ██      ██   ██
#   ███████  ██████  ██      ██████       ██████  ██   ████     ██████   ██████   ██████ ██   ██ ███████ ██   ██
# Portable, Server independent, Docker-based code to get the zorg Websites and Services up, running, and hosted.
# Copyright (C) 2024-2025  zorg Verein <https://github.com/zorgch>
#
#   This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
#   You should have received a copy of the GNU General Public License
# along with this program. If not, see <https://www.gnu.org/licenses/>.
#
#   This program comes with ABSOLUTELY NO WARRANTY; for details read the README.
# This is free software, and you are welcome to redistribute it
# under certain conditions; see the LICENSE.
#

#===================
# 🖥️ Global settings
#===================
# ℹ️ OS: CLI command to find platform: `arch`
COMPOSE_PROJECT_NAME=zorg
OS_PLATFORM=linux/amd64
TIMEZONE=Europe/Zurich
DOMAINNAME=zorg.ch

#=============
# 🛜 Networks
#=============
# [💡] To use a SHARED (exposed from Docker) network: set `network_SHARED` to `=true`
# [💡] `ROUTING_PRIORITY` is cruical for TCP services on SAME PORT across multiple stacks. Higher=FIRST
NETWORK_HTTP_SERVICES=loadbalance-http
NETWORK_HTTP_SERVICES_SHARED=true
NETWORK_TCP_SERVICES=loadbalance-tcp
NETWORK_TCP_SERVICES_SHARED=true
NETWORK_TCP_SERVICES_ROUTING_PRIORITY=100
NETWORK_UDP_SERVICES=loadbalance-udp
NETWORK_UDP_SERVICES_SHARED=true

#=========================
# 📊 CPU & Memory settings
#=========================
# --- portainer Dashboard & traefik Reverse Proxy
REVERSEPROXY_CPU=0.5
REVERSEPROXY_MEMORY=512m
# --- WAF Engine
WAF_CPU=0.5
WAF_MEMORY=512m
# --- php-apache Website
WEBSITE_CPU=2.0
WEBSITE_MEMORY=2048m
# --- MariaDB Database
MARIADB_CPU=2.0
MARIADB_MEMORY=2560m
# --- Mail Server
MAILSERVER_CPU=0.5
MAILSERVER_MEMORY=128m
# --- IRC Server
IRC_CPU=0.5
IRC_MEMORY=256m
# --- KeePass SFTP
KEEPASS_SFTP_CPU=0.25
KEEPASS_SFTP_MEMORY=256m
# --- Quake 3 Arena
QUAKE3_CPU=2.0
QUAKE3_MEMORY=2560m
# --- python Micro-Services (multiple)
MICROSERVICE_CPU=0.2
MICROSERVICE_MEMORY=256m

#===========================
# 📁 Files & folders mapping
#===========================
HOST_PROJECT_ROOT=/srv/<my-website>/<host>
HOST_DOCKER_WORKING_DIR=${HOST_PROJECT_ROOT:-.}/zorg-docker
# --- Logfiles
HOST_PATH_LOGS=${HOST_PROJECT_ROOT}/logs
# --- Telegram Service Status Notifications
HOST_PATH_TELEGRAM_STATUSMESSAGES_CONFIG=${HOST_DOCKER_WORKING_DIR}/resources/telegram-notifier/messages.js
# --- Dockerupdates Status Notifications
HOST_PATH_DOCKERUPDATES_NOTIFICATION_TEMPLATE=${HOST_DOCKER_WORKING_DIR}/resources/telegram-notifier/dockerupdates-notification.tmpl
# --- Reverse Proxy configs
HOST_PATH_REVERSEPROXY_CONFIG_FILES=${HOST_DOCKER_WORKING_DIR:-.}/resources/reverseproxy
# --- WAF configs and rules
HOST_PATH_WAF_CONFIG_FILES=${HOST_DOCKER_WORKING_DIR:-.}/resources/waf
HOST_PATH_WAF_RULES=${HOST_DOCKER_WORKING_DIR:-.}/resources/waf/rules
HOST_PATH_WAF_NOTIFICATIONS=${HOST_DOCKER_WORKING_DIR:-.}/resources/waf/notifications
# --- php-apache Website
HOST_PATH_WEBSITE=${HOST_PROJECT_ROOT}/website
HOST_PATH_WEBSITE_ENV_FILE=${HOST_PATH_WEBSITE}/.env
HOST_PATH_WEBSITE_DATA_FILES=${HOST_PATH_WEBSITE}/data
HOST_PATH_WEBSITE_APACHE_CONFIG=${HOST_PATH_WEBSITE}/apache.conf
# ℹ️ (Optional) Geo2IP file path only when downloaded using GEO2IP_ACCOUNTID
HOST_PATH_WEBSITE_GEO2IP_DBFILE=
HOST_PATH_WEBSITE_MSMTP_CONFIG=${HOST_PATH_WEBSITE}/sendmail/example-msmtprc
HOST_PATH_WEBSITE_CRONTAB_CONFIG=
#HOST_PATH_WEBSITE_CRONTAB_CONFIG=${HOST_PATH_WEBSITE}/zorg.crontab <-- DONE VIA `crontab -e`
HOST_PATH_WEBSITE_CRON_SCRIPTS=
#HOST_PATH_WEBSITE_CRON_SCRIPTS=${HOST_PATH_WEBSITE}/cronscripts <-- (see above) DONE VIA `crontab -e`
# --- Mailserver
HOST_PATH_MAILSERVER_CONFIGS=${HOST_DOCKER_WORKING_DIR}/resources/mailserver
# --- IRC Server
HOST_PATH_IRC_IRCD_CONFIG_FILES=${HOST_DOCKER_WORKING_DIR}/resources/irc
# --- (Optional) Quizbot for IRC: /irc-quizbot/configs
HOST_PATH_IRC_QUIZBOT_CONFIG_FILES=
# --- KeePass SFTP
# ℹ️ SSH_KEYS_DIR must contain `ssh_host_ed25519_key` + `ssh_host_rsa_key` to prevent MITM warnings
HOST_PATH_KEEPASS_SSH_KEYS_DIR=/etc/ssh
HOST_PATH_KEEPASS_DIR=${HOST_PROJECT_ROOT}/keepass
# --- Quake 3 Arena
HOST_PATH_QUAKE3_PKG_FILES=${HOST_PROJECT_ROOT}/quake3
# --- phpDocumentor
HOST_PATH_PHPDOC_SOURCECODE=${HOST_PROJECT_ROOT}/phpdocumentor/code
HOST_PATH_PHPDOC_OUTPUT=${HOST_PROJECT_ROOT}/phpdocumentor/docs

#===================
# 📦 Docker Services
#===================
# 🔐 Self-signed certificates
# n/a

# 🔔 Telegram Service Notifications
# [💡] Leave `_TOKEN=` empty '' to disable
TELEGRAM_BOT_SERVICEALERTS_TOKEN=
TELEGRAM_BOT_SERVICEALERTS_CHATID=
# (Optional) Chat Topic ID --> obtain it via «Copy Message Link» in the Topic
TELEGRAM_BOT_SERVICEALERTS_CHATTOPICID=

# 📊 Docker Services Dashboard (Portainer)
DASHBOARD_HOST=dockerstatus

# 🔄 Docker images auto-updater
# ℹ️ cron-based scheduling example: "23 23 * * *" = Daily @ 23:23
DOCKERUPDATES_UPDATE_SCHEDULE_CRON="23 5 * * *"
# 💡 Time in seconds to check Containers for image updates. Overrides cron-based scheduling.
#DOCKERUPDATES_UPDATE_INTERVAL=86400
# [💡] Levels: panic, fatal, error, warn, info, debug
DOCKERUPDATES_NOTIFICATIONS_LEVEL=warn
DOCKERUPDATES_NOTIFICATION_REPORT=true
# ℹ️ Uses Shoutrrr URLs like: discord://..., telegram://..., smtp://...
# [💡] Telegram how-to: https://shoutrrr.nickfedor.com/latest/services/chat/telegram/
DOCKERUPDATES_NOTIFICATION_SURL_TELEGRAM=${TELEGRAM_BOT_SERVICEALERTS_TOKEN:+telegram://${TELEGRAM_BOT_SERVICEALERTS_TOKEN}@telegram?notification=no&preview=false&parsemode=HTML&chats=${TELEGRAM_BOT_SERVICEALERTS_CHATID}${TELEGRAM_BOT_SERVICEALERTS_CHATTOPICID:+:${TELEGRAM_BOT_SERVICEALERTS_CHATTOPICID}}}
# [💡] Email how-to: https://shoutrrr.nickfedor.com/latest/services/email/smtp/
#DOCKERUPDATES_NOTIFICATION_SURL_EMAIL=smtp://username:password@host:port/?fromaddress=...

# 🚦 Reverse Proxy
# [💡] Enable traefik dashboard by setting `=true`. Use LOGLEVEL 'DEBUG' for debugging ONLY - otherwise 'WARN'
REVERSEPROXY_LOGLEVEL=WARN
REVERSEPROXY_DASHBOARD=
# --- TLS/SSL (Let's Encrypt / Self-signed)
# [💡] Locally, do *NOT* USE_LETSENCRYPT ('' empty)
USE_LETSENCRYPT=true
LETSENCRYPT_EMAIL=
LETSENCRYPT_CASERVER=
#LETSENCRYPT_CASERVER=https://acme-staging-v02.api.letsencrypt.org/directory # <- enable for debugging ONLY

# 🛡️ CrowdSec WAF
CROWDSEC_VERSION=latest
# ℹ️ CROWDSEC_BOUNCER_KEY: shared secret between Traefik bouncer and CrowdSec LAPI
# [💡] Generate a strong random key: `openssl rand -base64 32`
CROWDSEC_BOUNCER_KEY=
CROWDSEC_ALERT_EMAIL_TO=security@${DOMAINNAME}
# -- Dashboard
# [💡] Add LAPI watcher machine password: `openssl rand -hex 32`
CROWDSEC_WEBUI_KEY=

# 🌐 Apache-PHP Website
HTTP_PORT=80
HTTP_PORT_SSL=443
# ℹ️ Leave `WEBSITE_IS_DEVELOPMENT` EMPTY on production!
WEBSITE_IS_DEVELOPMENT=
WEBSITE_STRIP_WWW=true
WEBSITE_ROOT_DIR=/var/www
WEBSITE_PUBLIC_DIR=${WEBSITE_ROOT_DIR:-/var/www}/html/public
WEBSITE_APT_GET_INSTALLS="libfreetype6-dev libjpeg62-turbo-dev libpng-dev"
WEBSITE_PHP_EXTENSIONS="exif gd"
# --- MaxMind / Geo2Lite (https://www.maxmind.com/en/account/sign-in)
WEBSITE_MAXMIND_GEO2IP_ACCOUNTID=
WEBSITE_MAXMIND_GEO2IP_LICENSEKEY=
# --- Git Repository
WEBSITE_GIT_REPO=https://github.com/zorgch/zorg-code.git
WEBSITE_GIT_BRANCH=master
# --- PHP
PHP_VERSION=7.4
# ------ Xdebug
# [💡] Enable ONLY for LOCAL debugging. Port :9003
XDEBUG_PORT=
#XDEBUG_MODES="develop,debug,profile"
#XDEBUG_LOGLEVEL=7

# 💽 MariaDB Database
MARIADB_VERSION=latest
MARIADB_PORT=3306
# [💡] Locally, you may disable ROOT_PASSWORD using 'yes'
MARIADB_DISABLE_ROOT_PASSWORD=no
MARIADB_ROOT_PASSWORD=
DATABASE_NAME=zooomclan
DATABASE_USER=
DATABASE_PASSWORD=
# [💡] Locally, and for debugging, configure: --innodb_monitor_enable=all AND reduce --max-connections=150
MARIADB_MYSQLD_OPTIONS="--default-authentication-plugin=mysql_native_password --character-set-server=utf8mb4 --collation-server=utf8mb4_general_ci --explicit_defaults_for_timestamp --max-connections=3840"

# 🎛️ adminer Database-Manager
DBMANAGER_VERSION=latest
DBMANAGER_HOST=db
DBMANAGER_DESIGN=dracula
DBMANAGER_PLUGINS="tables-filter tinymce"

# 📧 Mail Server (SMTP)
MAILSERVER_HOST=smtp
MAILSERVER_HOST_INTERNAL=localhost-docker-smtp
# [💡] Logging: Use 'debug' for debugging ONLY - otherwise 'info' (lowercase matters!)
MAILSERVER_LOGLEVEL=info
MAILSERVER_EMAIL_MAXSIZE=10240000
#MAILSERVER_PORT_SMTP=587 # // TODO OBSOLETE
#MAILSERVER_PORT_SMTP_SSL=465 # // TODO OBSOLETE
MAILSERVER_PORT_SMTP_INTERNAL=25
MAILSERVER_ENABLE_DKIM=0
# [💡] Format for `SMTP_RELAY_SERVER` = [host]:${SMTP_RELAY_PORT:-465}
SMTP_RELAY_PORT=
SMTP_RELAY_SERVER=
SMTP_RELAY_USER=
SMTP_RELAY_PASSWORD=

# 💬 IRC-Server
IRC_HOST=irc
IRC_PORT=6667
IRC_PORT_SSL=6697
IRC_NETWORK_NAME=zdocker-irc
# --- Debug
IRC_DEBUG_RECOVER_FROM_ERRORS=true
# --- Email verification
IRC_SMTP_HOST=postfix-smtp
IRC_SMTP_PORT=25
IRC_EMAIL_SENDER=${IRC_HOST:-irc}@${DOMAINNAME}
# --- Channels
IRC_CHANNELS_DEFAULT_MODES="+ntC"
# --- Message History
IRC_HISTORY_CLIENT_LENGTH=256
IRC_HISTORY_AUTORESIZE_WINDOW=365d
IRC_HISTORY_AUTOREPLAY_ON_JOIN=25
IRC_HISTORY_ALLOW_INDIVIDUAL_DELETE=false

# 🧩 Quizbot (for IRC)
IRC_QUIZBOT_DEBUG=${WEBSITE_IS_DEVELOPMENT:-false}
IRC_QUIZBOT_ADMINS=nickname,barbara
IRC_QUIZBOT_SERVER=${IRC_HOST:+${IRC_HOST}.${DOMAINNAME}}
IRC_QUIZBOT_PORT=${IRC_PORT:-6667}
IRC_QUIZBOT_JOIN=quiz
IRC_QUIZBOT_NICKNAME=quizhans
# ℹ️ (Optional) IRC NickServ Auth Password
IRC_QUIZBOT_PASSWORD=

# 🕊️ IRC-Telegram Messaging Bridge
IRC2TG_IRC_MUTED=false
IRC2TG_IRC_SERVER=${IRC_HOST:+${IRC_HOST}.${DOMAINNAME}}
IRC2TG_IRC_PORT=${IRC_PORT:-6667}
IRC2TG_IRC_USE_SSL=false
IRC2TG_IRC_PASSWORD=
IRC2TG_IRC_JOIN="#channelname"
IRC2TG_IRC_JOIN_PASSWORD=
IRC2TG_IRC_NICKNAME=telegram
# ℹ️ (Optional) IRC NickServ Auth details
IRC2TG_IRC_NICKSERV_USER=${IRC2TG_IRC_NICKNAME:-}
IRC2TG_IRC_NICKSERV_PASS=
IRC2TG_IRC_IGNORE_NICKS=
IRC2TG_IRC_MESSAGE_PREFIX="<"
IRC2TG_IRC_MESSAGE_SUFFIX=">"
IRC2TG_IRC_MESSAGE_QUIT="So Long, and thanks for all the fish"
IRC2TG_MESSAGE_MUTE_PREFIX=!
IRC2TG_TELEGRAM_BOT_TOKEN=
IRC2TG_TELEGRAM_BOT_CHATID=
IRC2TG_TELEGRAM_MUTED=false
IRC2TG_TG_MESSAGE_PREFIX="irc<"
IRC2TG_TG_MESSAGE_SUFFIX=">"
IRC2TG_TG_MESSAGE_EDITED="(edit) "
IRC2TG_TG_MESSAGE_REPLY_PREFIX=">"
IRC2TG_TG_MESSAGE_REPLY_SUFFIX=": "
IRC2TG_TG_SHOW_IRC_ACTION=true
IRC2TG_TG_SHOW_IRC_JOINS=false
IRC2TG_TG_SHOW_IRC_KICKS=false
IRC2TG_TG_SHOW_IRC_LEAVES=false
IRC2TG_TG_SHOW_IRC_NICK_CHANGE=false
IRC2TG_TG_SHOW_IRC_TOPIC_CHANGE=false
IRC2TG_TG_PREFER_FIRSTNAME=true
IRC2TG_TG_ALLOWED_USERS=

# 📈 Stockticker
# [💡] Stock Tickers array format: SYMBOL:threshold:interval;SYMBOL2:threshold2:interval2
STOCKTICKER_SYMBOLS="TSLA:50:28800;BTC-USD:2500:21600"
STOCKTICKER_TELEGRAM_BOT_TOKEN=
STOCKTICKER_TELEGRAM_BOT_CHATID=

# 🔑 KeePass DB (SFTP)
# ℹ️ Do not use Port 22 (default) --> may conflict with ssh!
KEEPASS_HOST=pw
KEEPASS_PORT_SFTP=2222
KEEPASS_SFTP_USER=keepass
KEEPASS_SFTP_PASSWORD=

# 🕹️ Quake 3 Arena-Server
QUAKE3_HOST=quake
QUAKE3_PORT=27960
# ℹ️ `QUAKE3_RCON_PASSWORD` is required to issue remote console commands
QUAKE3_RCON_PASSWORD=RequiredButChangeMe!
