#                                                               ██████   ██████   ██████ ██   ██ ███████ ██████
#   ███████  ██████  ████    ██████       ██████  ████   ██     ██   ██ ██    ██ ██      ██  ██  ██      ██   ██
#      ███  ██    ██ ██  ██ ██           ██    ██ ██ ██  ██     ██   ██ ██    ██ ██      █████   █████   ██████
#    ███    ██    ██ ██     ██   ███     ██    ██ ██  ██ ██     ██   ██ ██    ██ ██      ██  ██  ██      ██   ██
#   ███████  ██████  ██      ██████       ██████  ██   ████     ██████   ██████   ██████ ██   ██ ███████ ██   ██
# Portable, Server independent, Docker-based code to get the zorg Websites and Services up, running, and hosted.
# Copyright (C) 2024  zorg Verein <https://github.com/zorgch>
#
#   This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
#   You should have received a copy of the GNU General Public License
# along with this program. If not, see <https://www.gnu.org/licenses/>.
#
#   This program comes with ABSOLUTELY NO WARRANTY; for details read the README.
# This is free software, and you are welcome to redistribute it
# under certain conditions; see the LICENSE.
#

#===================
# 🖥️ Global settings
#===================
COMPOSE_PROJECT_NAME=zorg
OS_PLATFORM=linux/x86_64 # CLI command to find out: arch
TIMEZONE=Europe/Zurich
DOMAINNAME=zorg.ch
SECONDARY_DOMAINNAME= # (Optional) 2nd Domain to redirect -> DOMAINNAME

#=========================
# 📊 CPU & Memory settings
#=========================
# --- portainer Dashboard & traefik Reverse Proxy
REVERSEPROXY_CPU=0.5
REVERSEPROXY_MEMORY=512m
# --- waf OWASP-modsec
WAF_CPU=0.5
WAF_MEMORY=512m
# --- php-apache Website
WEBSITE_CPU=2.0
WEBSITE_MEMORY=2048m
# --- MariaDB Database
MARIADB_CPU=2.0
MARIADB_MEMORY=2560m
# --- Mail Server
MAILSERVER_CPU=0.2
MAILSERVER_MEMORY=64m
# --- IRC Server
IRC_CPU=0.25
IRC_MEMORY=256m
# --- KeePass SFTP
KEEPASS_SFTP_CPU=0.1
KEEPASS_SFTP_MEMORY=128m
# --- Quake 3 Arena
QUAKE3_CPU=2.0
QUAKE3_MEMORY=2560m
# --- python Micro-Services (multiple)
MICROSERVICE_CPU=0.2
MICROSERVICE_MEMORY=128m

#===========================
# 📁 Files & folders mapping
#===========================
HOST_PROJECT_ROOT=/srv/zorg.ch/www
HOST_DOCKER_WORKING_DIR=${HOST_PROJECT_ROOT:-.}/zorg-docker
# --- Logfiles
HOST_PATH_LOGS=${HOST_PROJECT_ROOT}/logs
# --- Telegram Service Status Notifications
HOST_PATH_TELEGRAM_STATUSMESSAGES_CONFIG=${HOST_DOCKER_WORKING_DIR}/resources/telegram-notifier/messages.js
# --- OWASP ModSecurity WAF
HOST_PATH_MODSEC_CRS_REQUEST_RULEFILE=${HOST_PROJECT_ROOT}/modsec/REQUEST-900-EXCLUSION-RULES-BEFORE-CRS.conf
HOST_PATH_MODSEC_CRS_RESPONSE_RULEFILE=${HOST_PROJECT_ROOT}/modsec/RESPONSE-999-EXCLUSION-RULES-AFTER-CRS.conf
# --- php-apache Website
HOST_PATH_WEBSITE=${HOST_PROJECT_ROOT}/website
HOST_PATH_WEBSITE_ENV_FILE=${HOST_PATH_WEBSITE}/.env
HOST_PATH_WEBSITE_DATA_FILES=${HOST_PROJECT_ROOT}/data
HOST_PATH_WEBSITE_APACHE_CONFIG=${HOST_PATH_WEBSITE}/apache/000-default.conf
HOST_PATH_WEBSITE_GEO2IP_DBFILE= # (Optional) Otherwise downloaded using GEO2IP_ACCOUNTID
HOST_PATH_WEBSITE_MSMTP_CONFIG=${HOST_PATH_WEBSITE}/sendmail/example-msmtprc
HOST_PATH_WEBSITE_CRONTAB_CONFIG=${HOST_PATH_WEBSITE}/custom.crontab
HOST_PATH_WEBSITE_CRON_SCRIPTS=${HOST_DOCKER_WORKING_DIR}/resources/website/cron
# --- IRC Server
HOST_PATH_IRC_ANOPE_CONFIG_FILES=${HOST_PROJECT_ROOT}/irc/anope-sensitive-includes
HOST_PATH_IRC_IRCD_CONFIG_FILES=${HOST_PROJECT_ROOT}/irc/unrealircd-sensitive-includes
# --- (Optional) Quizbot for IRC: /irc-quizbot/configs
HOST_PATH_IRC_QUIZBOT_CONFIG_FILES=
# --- KeePass SFTP
HOST_PATH_KEEPASS_FILE=${HOST_PROJECT_ROOT}/keepass/passwords.kdbx
# --- Quake 3 Arena
HOST_PATH_QUAKE3_PKG_FILES=${HOST_PROJECT_ROOT}/quake3
# --- phpDocumentor
HOST_PATH_PHPDOC_SOURCECODE=${HOST_PROJECT_ROOT}/phpdocumentor/code
HOST_PATH_PHPDOC_OUTPUT=${HOST_PROJECT_ROOT}/phpdocumentor/docs

#===================
# 📦 Docker Services
#===================
# 🔐 Self-signed certificates
# n/a

# 📊 Docker Services Dashboard (Portainer)
DASHBOARD_HOST=dockerstatus

# 🚦 Reverse Proxy
REVERSEPROXY_LOGLEVEL=WARN #<- use 'DEBUG' for debugging ONLY
# --- TLS/SSL (Let's Encrypt / Self-signed)
# ℹ️ NOTE Locally, do *NOT* USE_LETSENCRYPT ('' empty), but set SELFSIGNED_CERT_HOSTS=host1 host2 host3 ...
USE_LETSENCRYPT=true #<- 'true' on production, '' empty locally
LETSENCRYPT_EMAIL=
#LETSENCRYPT_CASERVER=https://acme-staging-v02.api.letsencrypt.org/directory # <- enable for debugging ONLY

# 🛡️ OWASP ModSecurity
# --> see "Files & folders mapping"

# 🌐 Apache-PHP Website
HTTP_PORT=80
HTTP_PORT_SSL=443
WEBSITE_IS_DEVELOPMENT= #<- empty '' on production
WESBITE_ROOT_DIR=/var/www
WEBSITE_PUBLIC_DIR=${WESBITE_ROOT_DIR}/html/public
WEBSITE_APT_GET_INSTALLS="libfreetype6-dev libjpeg62-turbo-dev libpng-dev"
WEBSITE_PHP_EXTENSIONS="exif gd"
# --- MaxMind / Geo2Lite (https://www.maxmind.com/en/account/sign-in)
WEBSITE_MAXMIND_GEO2IP_ACCOUNTID=
WEBSITE_MAXMIND_GEO2IP_LICENSEKEY=
# --- Git Repository
WEBSITE_GIT_REPO=https://github.com/zorgch/zorg-code.git
WEBSITE_GIT_BRANCH=master
# --- PHP
PHP_VERSION=7.4
# ------ Xdebug
#XDEBUG_PORT=9003 <- enable for local debugging ONLY
#XDEBUG_MODES="develop,debug,profile" <- enable for local debugging ONLY
#XDEBUG_LOGLEVEL=7 <- enable for local debugging ONLY

# 💽 MariaDB Database
MARIADB_VERSION=latest
MARIADB_HOST=db
MARIADB_PORT=3306
MARIADB_DISABLE_ROOT_PASSWORD=no #<- Locally, you may set this to = 'yes'
MARIADB_ROOT_PASSWORD=
DATABASE_NAME=zooomclan
DATABASE_USER=
DATABASE_PASSWORD=
# [💡] Locally, and for debugging, configure: --innodb_monitor_enable=all AND reduce --max-connections=150
MARIADB_MYSQLD_OPTIONS="--default-authentication-plugin=mysql_native_password --character-set-server=utf8mb4 --collation-server=utf8mb4_general_ci --explicit_defaults_for_timestamp --max-connections=3840"

# 📧 Mail Server (SMTP)
MAILSERVER_HOST=smtp
MAILSERVER_LOGLEVEL=info #<- use 'debug' for debugging ONLY
MAILSERVER_EMAIL_MAXSIZE=10240000 # 10MB
MAILSERVER_PORT_SMTP=587
MAILSERVER_PORT_SMTP_SSL=465
MAILSERVER_PORT_SMTP_INTERNAL=25
SMTP_RELAY_PORT=
SMTP_RELAY_SERVER= # Format: [host]:port
SMTP_RELAY_USER=
SMTP_RELAY_PASSWORD=

# 💬 IRC-Server
IRC_HOST=irc
IRC_SERVICES_HOST=ircservices
IRC_PORT=6667
IRC_PORT_SSL=6697

# 🔑 KeePass DB (SFTP)
KEEPASS_HOST=pw
KEEPASS_PORT_SFTP=22
KEEPASS_SFTP_USER=keepass
KEEPASS_SFTP_PASSWORD=
KEEPASS_KDBX_FILENAME=vault.kdbx

# 🕹️ Quake 3 Arena-Server
QUAKE3_HOST=quake
QUAKE3_PORT=27960
QUAKE3_RCON_PASSWORD= # Required to issue remote console commands

# 🔔 Telegram Bot
TELEGRAM_BOT_SERVICEALERTS_TOKEN= #<- empty '' to disable
TELEGRAM_BOT_SERVICEALERTS_CHATID=
TELEGRAM_BOT_SERVICEALERTS_CHATTOPICID= # (Optional) Obtain via «Copy Message Link» in Topic
TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_CHATID=

# 🧩 Quizbot (for IRC)
IRC_QUIZBOT_PASSWORD=

# 📈 Stockticker
# [💡] Stock Tickers array format: SYMBOL:threshold:interval;SYMBOL2:threshold2:interval2
STOCKTICKER_SYMBOLS="TSLA:50:28800;BTC-USD:2500:21600"

#===========================================================
# 🚨 This MUST come *AFTER* all Hostnames have been defined!
#===========================================================
SELFSIGNED_CERT_HOSTS="${DASHBOARD_HOST:+${DASHBOARD_HOST}.${DOMAINNAME}} ${MARIADB_HOST:+${MARIADB_HOST}.${DOMAINNAME}} ${MAILSERVER_HOST:+${MAILSERVER_HOST}.${DOMAINNAME}} ${IRC_HOST:+${IRC_HOST}.${DOMAINNAME}} ${IRC_SERVICES_HOST:+${IRC_SERVICES_HOST}.${DOMAINNAME}} ${KEEPASS_HOST:+${KEEPASS_HOST}.${DOMAINNAME}} ${QUAKE3_HOST:+${QUAKE3_HOST}.${DOMAINNAME}}"
